<app-header [title]="'NASA Rovery'"></app-header>
<ion-content padding>
    <ion-item>
    <ion-label>NASA Rovery</ion-label>
        <ion-select placeholder="Vybrať rover" [mode]="'md'" [(ngModel)]="selectedRoverName" (ionChange)="roverSelected()">
            <ion-select-option *ngFor="let rover of roverList" >{{ rover }}</ion-select-option>
        </ion-select>
    </ion-item>
    <div class="rover-info" *ngIf="selectedRover">
        <h2 class="name">
            {{ selectedRover.Name }}
        </h2>
        <div>
            <img src="assets/images/{{ selectedRover.Name }}.jpg">
            <ion-grid>
                <ion-row>
                    <ion-col>
                            Počet marťanských dní Marse (sol)
                    </ion-col>
                    <ion-col>
                            {{ selectedRover.SolCount }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                            Ďeň vzletu
                    </ion-col>
                    <ion-col>
                            {{ selectedRover.LaunchDate }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                            Deň pristátia
                    </ion-col>
                    <ion-col>
                            {{ selectedRover.LandingDate }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Celkový počet fotiek
                    </ion-col>
                    <ion-col>
                        {{ selectedRover.TotalPhotos }}
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item>
            <ion-label>Kamery</ion-label>
                <ion-select placeholder="Vybrať kameru" [mode]="'md'" [(ngModel)]="selectedCamera" (ionChange)="cameraSelected()">
                    <ion-select-option [value]="'all'">Všetky</ion-select-option>
                    <ion-select-option *ngFor="let camera of selectedRover.Cameras" [value]="camera.name">{{ camera.full_name }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="selectedCamera !== 'all'">
                <ion-label>Dátum</ion-label>
                <ion-datetime display-format="D.M.YYYY" [(ngModel)]="date" (ionChange)="dateChanged()"></ion-datetime>
            </ion-item>
            <div class="latest-photos" *ngFor="let photo of selectedRover.Photos">
                <img [src]="photo.img_src"> 
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            Zemský dátum:
                        </ion-col>
                        <ion-col>
                            {{ photo.earth_date }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Marťanský dátum:
                        </ion-col>
                        <ion-col>
                            {{ photo.sol }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            Použitá kamera:
                        </ion-col>
                        <ion-col>
                            {{ photo.camera.full_name }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <p *ngIf="selectedRover.Photos.length === 0">
                <b>Žiadne fotografie neboli nájdené</b>
            </p>
            <p>
                {{ selectedRover.Description }}
            </p>
        </div>
    </div>

</ion-content>
